body{
    background-color: #F1F9F5;
    font-family: 'Quicksand', sans-serif;
    line-height: 40px;
    color: #A17C6B;
    font-size: 25px;
    
}
.sr-only {
    position: absolute;
    left: -9999px;
  }
  
h1, h3{
    color: #3C887E
}

li {
    color: #5B7B7A
}
.picture {
    border-radius: 50%;
    align-items: center;
    }

.social-icon {
    color: #d6ad98;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .social-icon:hover {
    color: #aecca5;
  }