body{
    background-color: #F1F9F5;
    font-family: 'Quicksand', sans-serif;
    line-height: 40px;
    color: #A17C6B;
    font-size: 25px;
    
}
h1, h3{
    color: #3C887E
}
li {
    color: #5B7B7A
}
.picture {
    border-radius: 50%;
    align-items: center;
}